*.iml
.gradle
/baresip
/bcg729
/codec2
/g729
/g7221
/openssl
/opus
/re
/sndfile
/spandsp
/tiff
/vo-amrwbenc
/webrtc
/zrtpcpp
/Makefile
/re-patch
/tiff-patch
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
